*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{

}

body{
    text-align: justify;
    //background-image: linear-gradient(45deg,#260049 0, #7730b9 -50%, #ff00f2 100%);
    color: #525252;
}

footer{

width: 100%;
position: absolute;
}

h1{
    text-align: center;
}

.copyright{
    text-align: center;
    
}