body{
    background-color: #0f1218;
}

.nav-link{
    color: #f066ee;
}

.container{
    background-color: burlywood;
    max-width: 100vw;   /* maximo de ancho */
    min-height: 100vh;  /* maximo de altura */
    display: grid;
    grid-template-columns: 100%;
}

footer{
    background-color: royalblue;
    max-width: 100vw;
    text-align: center;
}